<head>
  <title>DroneX</title>
    <link rel="stylesheet" type="text/css" href="/css/head.css" />
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/css/home.css" />
</head>

<body>
  <nav>
      <a href='/'>Hem</a>
      <a>Kurser</a>
      <a>Instruktioner</a>
      <a>Affär</a>
      <a href='/oss'>Oss</a>
  </nav>
