<%- include('layout_head.ejs') -%>
  <div class="page_home">
    <div class="msgbox">
      <h1> Den smarta vägen till racequads </h1>
      <p>
        Vi på DroneX har visionen att alla personer ska ha möjligheten att flyga RC quadrocoptrar och slippa allt det krångliga. Vi har kurser tisdagar och fredagar 18:00-20:00 på Expectrum i Västerås. Är du redo att anta utmaningen? Isåfall kolla in vårt kursutbud!
      </p>
      <div class="btncontainer">
        <a>
          Kursutbud
        </a>
        <a>
          Till affären
        </a>
      </div>
    </div>
  </div>
  <div class="page_home">
    <div class="msgbox">
      <h1>Vi hjälper dig hela vägen!</h1>
    </div>
  </div>
</body>
