body {
  margin: 0;
}

h1 {
  font-family: sans-serif;
  color: #fff;
  text-align: center;
  padding: 10px;
}

p {
  font-family: sans-serif;
  color: #fff;
  padding: 20px;
}

a {
  font-family: sans-serif;
  text-decoration: none;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
  }
}
