div.page_home {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

div.page_home:nth-child(2) {
  background-image: url(../img/mossytilt.jpg);
}

div.page_home:nth-child(3) {
  background-image: url(../img/build.jpg);
  flex-direction: column;
}

.page_home div.msgbox {
  background-color: rgba(0, 0, 0, 0.5);
  width: 600px;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  animation-name: fade;
  animation-duration: 1s;
}

.page_home div.msgbox p {
  text-align: center;
  margin: 0;
}

div.msgbox div.btncontainer {
  display: flex;
  justify-content: space-around;
}

.page_home .btncontainer a {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  padding: 20px 40px;
  color: #fff;
  margin: 20px;
  text-align: center;
}

.page_home .btncontainer a:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
  transition: 0.3s;
}

.page_home iframe {
  opacity: 0.85;
}

div.page_home:nth-child(3) div {
    align-items: flex-start;
}

.page_home div.container {
  flex-direction: row;
  display: flex;
}

.page_home div.container div {
  flex-direction: column;
  display: flex;
  width: 400px;
  align-self: center;
}

.page_home div.container div h1 {
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
  margin: 0;
}

.page_home div.container div p {
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
  margin: 0;
  text-align: left;
}

.page_home .icon {
  width: 100px;
  margin: 20px;
  align-self: center;
}

@media (max-width: 600px) {
  div.page_home {

  }

  .page_home div.msgbox {
    height: calc(~"100vh - 150px");
    width: 100vw;
    margin: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0);
  }

  div.msgbox div.btncontainer {
    flex-direction: column;
  }

}
