div.page_home {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100%;

  background-image: url(/img/mossytilt.JPG);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.page_home div.msgbox {
  background-color: rgba(0, 0, 0, 0.3);
  width: 600px;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
}

.page_home div.msgbox p {
  text-align: center;
}

div.msgbox div.btncontainer {
  display: flex;
  justify-content: space-around;
}

.page_home .btncontainer a {
  width: 200px;
  height: 50;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  margin-bottom: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
}

.page_home .btncontainer a:hover {
  background-color: rgba(255, 255, 255, 0.8);
  transition: 0.3s;
}
