body {
  margin: 0;
  background-image: url(/img/dronexblackwide.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  font-family: sans-serif;
  color: #fff;
  text-align: center;
  padding: 10px;
}

p {
  font-family: sans-serif;
  color: #fff;
  padding: 20px;
}

a {
  font-family: sans-serif;
}

nav {
  position: absolute;
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: row;
  height: 50px;
  width: 100%;
  margin: 0;
  background-color: #fff;
}

nav div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 50px;
}

nav div:hover {
  background-color: rgb(19, 22, 22);;
  -webkit-transition: 0.5s; /* Safari */
  transition: 0.5s;
}

nav div a {
 font-family: sans-serif;
}

nav div:hover a {
  color: #eee;
  -webkit-transition: 1s; /* Safari */
  transition: 1s;
}

div.container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100%;
}

div.container div.msgbox {
  background-color: rgba(0, 0, 0, 0.5);
  width: 600px;
  border-radius: 5px;
}

div.msgbox div.btncontainer {
  display: flex;
  justify-content: space-around;
}

.btncontainer a {
  width: 200px;
  height: 50;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  margin-bottom: 20px;
}

.btncontainer a:hover {
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-transition: 0.3s; /* Safari */
  transition: 0.3s;
}
